<article>
  <header>
    <h1>{{article.title}}</h1>
    <address>
      作者：
      <a href="../?by={{article.author}}">{{article.author}}</a>
    </address>
    {% set time = article.time %}
    <address>
      发表于：
      <a href="{{time.format('../Y-m')}}">{{time.format('Y 年 n 月')}}</a>
      {{time.format('j 日 G 时')}}
    </address>
    <blockquote>{{article.briefing}}</blockquote>
  </header>
  {{article.content|raw}}
</article>
