<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Edit</title>
</head>
<body>
  <form action="?{{ article.id }}" method="post">
    <dl>
      <dt>{{ article.title }}</dt>
      <dt>Markdown：</dt>
      <dd><textarea name="content" cols="80" rows="40">{{ article.markdown|raw }}</textarea></dd>
      <dt>标签（使用半角逗号分隔）：</dt>
      {% set tags = "" %}
      {% for tag in article.tags %}
        {% set tags = tags ~ ", " ~ tag.title %}
      {% endfor %}
      <dd><input type="text" name="tags" value="{{ tags|trim(", ") }}"></dd>
      <dt>时间（YYYY-mm-dd HH:ii:ss）：</dt>
      <dd>{{ article.time|date('Y-m-d H:i:s') }}</dd>
    </dl>
    <input type="submit" value="保存">
  </form>
</body>
</html>
